/***** GENERAL *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border and padding not added to box size*/
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  height: 100vh;
}

/***** MAIN SECTION *****/
.main-text {
  font-size: 20px;
  color: #FFF;
}

@media screen and (min-width: 600px) {
  .main-text {
    font-size: 32px;
  }
}

.main-container {
  background: #252934;
}

#name {
  color: #57E2E5;
}


/***** ABOUT SECTION *****/
.about-container {
  background: #FFF;
}

/***** PROJECTS SECTION *****/
.projects-container {
  background: #EEE;
}

/***** CONTACT SECTION *****/
.contact-container {
  background: #FFF;
}
